install:
- if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh
  -O miniconda.sh; else wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
  -O miniconda.sh; fi
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda update -q conda
- bash ./config/create-env.sh
script:
- cd tests
- bash run.sh
- bash test_cli.sh
- cd ..
deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: EAyRsMK5xvOwXDXeLbcfxxGNHqbD3PIwB1C8QXWi2fZ5sbGTgTGYtiDSadEUA3ujW5A4RtWMUzTtkZf3uOc9SPUJCWbAUrMvT+heIHcFQhNSM75lpLuB95+fHhET74Jt4KBByaETBAAWwklIi9A6niaaVGUOchm/egj2E+47Am1szgl9pxhe5g1VWYL6g+lJ26pLV8/9iK79Z0E6XdsuEwWlD3p+uZVLbZQAttdNL8Dxv3lJ1xWi9XNvmo3KgpAl4eVtv4caCHXXQ1WKXKqhURsGXl8RPlmTyToi5l9ChUA28SRRK4WNKKAb10p/n4rBKM0l1IjaxKfxI8bjtuONSmffoiMfxjmtWG4c7hnDSc3Z3Gxmtlv/R1a6TbyaJUbRL9pEjz79dQK0mPtZBrA0937UNraTJ40mNiDyr6H3JIvLhTQAHYWf4TVdi4H7BUT+5jqosx8YZiuq/I8fb9kt+e37nSqFy9/RZ8zB8z7mHECeIySU7nyos54RuD72Ry3zx+UpPLhHHsm4cNde0LdIionhsCSsj0JseqNnIwNULyNJklXvNG5Dw7RM7CCTgt9ZMNCLCIqfgl6zNq9SB4qGjR+pyBsdxrGxlz3r6bRXu5OwkyRrSjyz1etprnyRRyf5LtJU2huXFZanNHN5BafIjlidoM788IwzTBKEy75WKs8=
